{% extends "base.html" %}

{% block nav %}{% endblock %}

{% block content %}

<div class="login-shell">

    <div class="login-image"></div>

    <div class="login-panel">

        <form class="auth-card" method="post">

            <img
                src="{{ url_for('static', filename='img/logo-senai.jpg') }}"
                alt="SENAI"
                class="auth-logo">

            <h2>Login</h2>

            <div class="mb-3">
                <label for="username" class="form-label">Usuário</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control">
            </div>

            <button type="submit" class="login-btn">
                Entrar
            </button>

        </form>

    </div>

</div>

{% endblock %}
